<h3> Showing listings for {{ character_name }}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
      <th scope="col">End Date</th>
      <th scope="col">Posted By</th>
      <th scope="col">Guild</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
  {% if listings %}
    {% comment %}
        context listings fields:
        'listings'
        'item'
        'qty'
        'unit_price'
        'total_price'
        'end_date'
        'character'
        'guild'
        'loc'
    {% endcomment %}
    {% for listing in listings %}
    <tr>
        <td>{{ listing.item }}</td>
        <td>{{ listing.qty }}</td>
        <td>{{ listing.unit_price }}</td>
        <td>{{ listing.total_price }}</td>
        <td>{{ listing.end_date }}</td>
        <td>{{ listing.character }}</td>
        <td>{{ listing.guild }}</td>
        <td>{{ listing.loc }}</td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="100%"> No Listings Found.</td>
    </tr>
  {% endif %}
  </tbody>
</table>