{% extends "saleslog/boilerplate.html" %}

{% block content %}

<div class="col-md-auto">
    <h3> Editing Profile for {{ username }}:</h3>
    <form action="{% url 'saleslog:edit_character_name_submit' %}" method="post" class="py-3">
        {% csrf_token %}
        <table>
            {{ f_character_name }}
        </table>
        <div class="row d-flex justify-content-center py-3">
            <div class="col text-center">
                <button action="submit" class="btn btn-primary">Submit</button>
                <button action="reset" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}